* {
  all: unset;
}
window {
  font-family: "JetBrainsMono Nerd Font Mono";
  border-radius: 10px;
  background-color: #2E3440;
}

//------------------------------------------------------------------------------

.slider-vol-side {
    margin-top: 6px;
    margin-right: 40px;
    margin-bottom: 15px;
}
.slider-vol-side scale trough highlight {
	all: unset;
	background-color: #88C0D0;
	color: #2E3440;
	border-radius: 10px;
}

.slider-vol-side scale trough {
  all: unset;
  background-color: #4C566A;
  border-radius: 50px;
  min-height: 5px;
  min-width: 170px;
  margin-top: 10px;
  margin-left: 20px;
}

.label-vol-side{
  margin-top: 10px;
  font-family: "JetBrainsMono Nerd Font Mono";
  margin-left: 35px;
  font-size: 25px;
}

.label-vol-side {
  color: #88C0D0;
}

//------------------------------------------------------------------------------

.slider-mic-side {
    margin-top: 6px;
    margin-right: 40px;
    margin-bottom: 15px;
}
.slider-mic-side scale trough highlight {
	all: unset;
	background-color: #A3BE8C;
	color: #2E3440;
	border-radius: 10px;
}

.slider-mic-side scale trough {
  all: unset;
  background-color: #4C566A;
  border-radius: 50px;
  min-height: 5px;
  min-width: 170px;
  margin-top: 10px;
  margin-left: 20px;
}

.label-mic-side{
  margin-top: 10px;
  font-family: "JetBrainsMono Nerd Font Mono";
  margin-left: 35px;
  font-size: 25px;
}

.label-mic-side {
  color: #A3BE8C;
}

//------------------------------------------------------------------------------

.square-button {
  font-family: "JetBrainsMono Nerd Font Mono";
  margin: 17px;
  font-size: 25px;
}

.poweroff {
  color: #BF616A;
}

.reboot {
  color: #EBCB8B;
}

.logout {
  color: #B48EAD;
}

.lock {
  color: #8FBCBB;
}

//------------------------------------------------------------------------------
.music-box {
  margin: 10px;
  background-color: #2E3440;
  color: #B48EAD;
}

.music-icon {
  font-family: "JetBrainsMono Nerd Font Mono";
  margin: 10px;
  font-size: 50px;
}
.music-info {
  font-family: "JetBrainsMono Nerd Font Mono";
  margin: 10px;
  font-size: 20px;
}

.music-control-box {
  margin-left: 175px;
}

.music-control {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 30px;
  margin: 10px;
}

.music-album {
	border-radius: 10px;
}

//------------------------------------------------------------------------------
.profile-picture {
  margin: 10px;
  margin-right: 0px;
  margin-top: 25px;
}

.profile-info {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.profile-name {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 25px;
}

.profile-username {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 20px;
  color: #BF616A;
}

//------------------------------------------------------------------------------
.hour-text {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  color:#88C0D0;
}

.minute-text {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 50px;
  margin-bottom: 10px;
  color:#88C0D0;
}

//------------------------------------------------------------------------------
.date-text {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 25px;
  margin-top: 27px;
  color: #EBCB8B;
}

// ---- BAR --------------------------------------------------------------------

.bar-box {
  border-radius: 10px;
  margin: 5px;
}

.box-bg {
  background-color: #434C5E;
}

.hour {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 20px;
  margin: 0px 5px 5px 5px;
  color:#88C0D0;
  //color: #5E81AC;
}
.minute {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 20px;
  margin: 5px;
  color:#88C0D0;
  //color: #5E81AC;
}

.bar-mic-icon {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 20px;
  color: #A3BE8C;
}

.bar-updates-icon {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 30px;
  color: #EBCB8B;
}

.bar-updates-text {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 18px;
  color: #EBCB8B;
}

.separator {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 20px;
  color: #434C5E;
}

.workspaces {
  margin-top: 0px;
}

.bar-caps-icon {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 30px;
  color: #A3BE8C;
}

.application-menu {
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 25px;
  color: #A3BE8C;
  transition: .5s;
}

.application-menu:hover {
  color: #85a966;
}

.application-menu:active {
  color: #A3BE8C;
}

.workspace-active {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 30px;
  color: #6E8DB4;
}

.workspace-focused {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 30px;
  color: #8ea6c4;
}

.workspace-focused:hover {
  font-size: 30px;
}

.workspace-occupied {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 20px;
  color: #6e8db4;
  transition: .2s;
}

.workspace-occupied:hover {
  font-size: 30px;
}

.workspace-urgent {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 30px;
  color: #6e8db4;
  transition: .2s;
}

.workspace-urgent:hover {
  font-size: 30px;
}

.workspace-empty {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 20px;
  color: #434C5E;
  transition: .2s;
}

.layout-tiled {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 30px;
  color: #EBCB8B;
}

.layout-monocle {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 30px;
  color: #A3BE8C;
}

.non-tabbed-window {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 30px;
  color: #A3BE8C;
}

.tabbed-window {
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 30px;
  color: #B48EAD;
}